<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
            <div class="bloque">
               <img class="dibujo" src="/assets/agua.png"> 
               <br>
               <h4 class="nombre">AGUA</h4>
               <br>
               <h5 class="tamaño"> 1280 × 1280 </h5>
               <br>
               <h5 class="tamaño"> $20.00 </h5>
            </div>
   <%- include('./partials/footer') %>
  </body>
</html>